{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react-hooks/recommended",
		"plugin:react/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript",
		"prettier",
		"react-app"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["import", "react"],
	"root": true,
	"rules": {
		"semi": ["error", "never"],
		"no-console": "warn",
		"linebreak-style": 0,
		"require-jsdoc": "off",
		"import/no-named-as-default": 0,
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/ban-types": "off"
	}
}
