{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react-hooks/recommended",
		"plugin:react/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript",
		"prettier",
		"react-app"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["import", "react"],
	"root": true,
	"rules": {
		"semi": ["error", "never"],
		"linebreak-style": 0,
		"require-jsdoc": "off",
		"import/no-named-as-default": 0,
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/ban-types": "off",
		"no-undef": 0,
		"no-console": ["warn", { "allow": ["warn", "error"] }],
		"no-empty": 0,
		"no-useless-escape": 1,
		"no-fallthrough": 1,
		"no-extra-boolean-cast": 1,
		"react/prop-types": 0,
		"react/no-deprecated": 0,
		"react/display-name": 0,
		"react/no-find-dom-node": 1,
		"react/no-unescaped-entities": "warn",
		"react/no-string-refs": "warn",
		"react/jsx-no-target-blank": "warn",
		"react/no-children-prop": 0
	}
}
