@import "../../../../assets/styles/index.scss";

.socialSection {
    margin-top: 210px;
    margin-bottom: 20px;

    .pTitle {
        font-family: "Consolas", Consolas, 'Inconsolata', monospace;
        color: #ABABAB;
        user-select: none;
    }
    
    .socialGroup {
        display: flex;

        a {
            .socialBox {
                width: 50px;
                height: 50px;
                margin-right: 40px;
                background-color: black;
                background-size: 40px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                transition: all 0.3s;
                cursor: pointer;
            }
        }

    .socTg {
            .socialBox {
                background-image: url("../../../../assets/img/icons/tg-icon.png");
            }

            :hover {
                background-color: #179CDE;
            }
    }

    .socWhatsApp {
            .socialBox {
                background-image: url("../../../../assets/img/icons/whatsapp-icon.png");
            }

            :hover {
                background-color: #4BC959;
            }
        }
    }
}

@media only screen and (min-width: 290px) and (max-width: 1300px) { 
    
    .socialSection {
        margin-top: 80px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-height: 500px) and (max-height: 900px){

    .socialSection {
        margin-top: 60%;
    }
}