header {
    width: 100%;
    position: fixed;
    z-index: 1000;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .headerLogoBox {
            width: 100px;
            height: 100px;
            margin: 17px;
            text-align: center;
            font-size: 85px;
            font-family: 'Times New Roman', Times, serif;
            line-height: 83px;
            color: black;
            background-color: #EBFF00;
            cursor: pointer;
            transition: all 0.5s;
    
            h3 {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                margin-bottom: 17px;
                user-select: none;
            }
        }
    
        .headerLogoBox:hover {
            background-color: black;
            color: white;
        }

        .NavActionBlock {
            ul {
                display: flex;
                justify-content: right;
                list-style: none;
                align-items: center;

                li {
                    margin-left: 15px;
                    margin-right: 25px;                    

                    a { 
                        text-decoration: none;
                        font-size: 2em;

                        button {
                            margin-bottom: 22%;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

}